*.p
*.pyc
*.xml
.idea
data
cifar\.ipynb_checkpoints
cheXpert
.ipynb_checkpoints
language\.ipynb_checkpoints
language\.vector_cache
synthetic\.ipynb_checkpoints
cifar\models
cifar/.ipynb_checkpoints
.ipynb_checkpoints
language/.ipynb_checkpoints
language/.vector_cache
synthetic/.ipynb_checkpoints
cifar/models
